@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
:root {
  --clr-blue-600: #003049;
  --clr-red-400: #d62828;
  --clr-orange-400: #f77f00;
  --clr-yellow-300: #fcbf49;
  --clr-cream-300: #eae2b7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.flex-container {
  display: flex;
}

nav,
#dropdownMenu {
  background-color: var(--clr-blue-600);
}

.nav-link,
.dropdown-item {
  font-size: 0.9rem;
  font-weight: 500;
}

.dropdown-item {
  color: rgba(255, 255, 255, 0.8);
}

#brand-img {
  height: 50px;
}

#brand-heading {
  color: white;
  font-weight: 700;
  font-size: 1rem;
}

/* End of Navbar */

p,
h1,
h4,
h2,
h3 {
  padding: 0;
  margin: 0;
}

article {
  padding: 3rem 20rem;
}

#heading {
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-blue-600);
}

#subheading {
  color: var(--clr-red-400);
  font-weight: 600;
  font-size: 1.25rem;
}

#author {
  color: rgba(0, 0, 0, 0.75);
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: -1px;
}

#article-img {
  margin: 1rem 0;
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
}

#source-link {
  color: black;
  text-decoration: underline;
  font-weight: 500;
  font-size: 0.95rem;
}

#source-link:hover,
#source-link:active {
  color: black;
}

p {
  text-align: justify;
  text-justify: inter-word;
  margin: 0.75rem 0;
  font-size: 0.95rem;
  line-height: 1.4;
}

h4 {
  font-size: 1.15rem;
  font-weight: 600;
}

/* Start of Footer */
footer {
  background-color: #003049;
  color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  justify-content: space-around;
  align-items: center;
}

footer p,
footer li {
  margin: 0;
  font-size: 0.9rem;
}

footer li {
  list-style-type: none;
  margin-left: -2rem;
}

#contactInfo h3,
#sitemap h3 {
  font-size: 1.7rem;
  font-weight: 700;
  margin: 0 0 0.5rem 0;
}

#footerSosmed {
  margin-top: 0.5rem;
  justify-content: flex-start;
}

#footerSosmed a,
#sitemap a {
  margin-right: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

#sitemap a:hover {
  text-decoration: underline;
}

#infoPersembahan .info-subheading {
  font-weight: 600;
  font-size: 0.95rem;
}

#infoPersembahan p {
  line-height: 1.2;
}
/* End of Footer */

@media (min-width: 768px) {
  #brand-heading {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  html {
    overflow-x: hidden;
  }
  #brand-img {
    display: none;
  }

  #brand-heading {
    padding-top: 10px;
    font-size: 1rem;
    letter-spacing: -1px;
    font-weight: 600;
  }

  article {
    padding: 2rem 1rem;
  }

  article p {
    font-size: 0.85rem;
  }

  article blockquote {
    font-size: 0.9rem;
  }

  footer {
    margin: 0;
    flex-direction: column;
    padding: 2rem 1rem 0.5rem 1rem;
    justify-content: center;
  }

  footer > * {
    width: 100%;
    margin-bottom: 20px;
  }

  #sitemap {
    margin-top: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 820px) {
  footer {
    margin: 0;
    flex-direction: column;
    padding: 2rem 5rem;
    justify-content: center;
  }

  footer > * {
    width: 100%;
    margin-bottom: 1rem;
  }
}
